.information{
    width: 80%;
    position: absolute;
    z-index: 500;
    border-radius: 15px;
	display: block;
    margin-top: 90px;
    margin-bottom: 50px;
    margin-left: 10%;
    background: rgba(114, 114, 114, 0.62);
}
