.marker {
  width: 15%;
  height: auto;
  max-width: 100px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#findme {
	position: fixed;
	bottom: 10%;
	right: 5%;
	width: 8%;
    height: auto;
    max-width: 50px;
    outline: none;
}

#findme:active {
	filter: blur(5px);
}

.notColored {
  filter: grayscale(100%);
}

#baresbtn {
  position: fixed;
  bottom: 20%;
  right: 5%;
  width: 8%;
  height: auto;
  max-width: 50px;
  outline: none;
}

.bares {
  width: 8%;
  max-width: 50px;
  display: none;

}